body {
    font-family: "Comic Sans MS";
    color: white;
    background-image: url("In-the-zone.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}